# -*- shell-script -*-

@def &FORWARD_TCP($fwdport, $daddr, $dport) = {
# Creates rules to forward local ports to a remote machine.
#
#	@fwdport:  local port(s) to be forwarded; can be a ferm list
#	@daddr: remote address to forward to
#	@dport: remote port(s) to forward to; multiple ports separated by ':'
#
	table filter chain FORWARD proto tcp dport $fwdport daddr $daddr ACCEPT ;
	table nat chain PREROUTING proto tcp dport $fwdport DNAT to "$daddr:$dport" ;
	table nat chain POSTROUTING proto tcp dport $fwdport MASQUERADE ;
}


@def &REDIRECT_TCP($dport, $to) = {
# Redirect a local port to another port.
    table filter chain INPUT proto tcp dport $dport ACCEPT ;
    table nat chain PREROUTING proto tcp dport $dport REDIRECT to-ports $to ;
}


table filter {
    chain INPUT {
        policy DROP;
        # connection tracking
        mod state state INVALID DROP;
        mod state state (ESTABLISHED RELATED) ACCEPT;
        # allow local packet
        interface lo ACCEPT;
        # respond to ping
        proto icmp ACCEPT;

        proto tcp dport ssh ACCEPT;
<% if @environment == "prod" -%>
        proto tcp dport 8301 ACCEPT;
<% end -%>
<% if @tcp -%>
<% [@tcp].flatten.each do |ports| -%>
        proto tcp dport <%= ports %> ACCEPT;
<% end -%>
<% end -%>

<% if @udp -%>
<% [@udp].flatten.each do |ports| -%>
        proto udp dport <%= ports %> ACCEPT;
<% end -%>
<% end -%>
}
    chain OUTPUT {
        policy ACCEPT;
        # connection tracking
        #mod state state INVALID DROP;
        mod state state (ESTABLISHED RELATED) ACCEPT;
    }
    chain FORWARD {
        policy DROP ;
        # connection tracking
        mod state state INVALID DROP;
        mod state state (ESTABLISHED RELATED) ACCEPT;
    }
}

<% if @forwardferm -%>
<% [@forwardferm].flatten.each do |forward| -%>
&FORWARD_TCP(<%= forward %>) ;
<% end -%>
<% end -%>
<% if @redirectferm -%>
<% [@redirectferm].flatten.each do |redirect| -%>
&REDIRECT_TCP(<%= redirect %>) ;
<% end -%>
<% end -%>
